body {
    padding: 0;
    margin: 0;
    background-image: url(../img/ocean2.jpg);
}

#MyGame {
    display: none;
}

.start-button {
    background-image: url(../img/start.png);
    display: flex;
    position: absolute;
    margin: auto;


}