body {
    padding: 0;
    margin: 0;
    background-image: url(../img/ocean2.jpg);

}

h1 {
    background-image: url(../img/logo.png);
    background-size: contain;
    flex-direction: column;
    margin-bottom: 100px;
    /* position: absolute; */
    width: 500px;
    height: 400px;
    z-index: 1;


}

#MyGame {
    display: none;
}

.start-button {
    background-image: url(../img/start.png);
    background-size: cover;
    /* position: absolute; */
    flex-direction: column;
    width: 300px;
    height: 120px;
    z-index: 2;
}

.main-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1900px;
    height: 930px;
}